datadir="/var/lib/proxysql"

admin_variables=
{
    admin_credentials="admin:admin;root:123456"
    mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
    threads=4
    max_connections=2048
    interfaces="0.0.0.0:3306"
    server_version="5.7.30"
    connect_timeout_server=1500
    monitor_username="root"
    monitor_password="123456"
    monitor_history=120000
    monitor_connect_interval=5000
    monitor_ping_interval=2500
    monitor_read_only_interval=750
    monitor_read_only_timeout=500
    monitor_replication_lag_interval=750
    monitor_replication_lag_timeout=500
    monitor_replication_lag_use_percona_heartbeat="percona.heartbeat"
    ping_interval_server_msec=5000
    ping_timeout_server=500
    connect_retries_on_failure=3
}

mysql_servers=
(
  {
    address="master"
    port=3306
    hostgroup=10
    max_connections=100
  },
  {
    address="replica1"
    port=3306
    hostgroup=20
    max_connections=100
    max_replication_lag=10
  },
  {
    address="replica2"
    port=3306
    hostgroup=20
    max_connections=100
    max_replication_lag=10
  }
)

mysql_replication_hostgroups=
(
  {
    writer_hostgroup=10
    reader_hostgroup=20
  }
)

mysql_users=
(
  {
    username="root"
    password="123456"
    active=1
    default_hostgroup=10
  },
  {
    username="root_ro"
    password="123456"
    active=1
    default_hostgroup=20
  }
)
